.deleted-container {
  border-radius: 4px;
  padding: 1ch 2ch;
  margin: 0.5rem;
  background-color: hsl(180, 10%, 30%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.deleted-container > * {
  margin: 0;
  padding: 0;
}

.deleted-container .deleted-content {
  color: #ddd;
  flex: 1;
}
.deleted-container .deleted-date {
  color: #999;
  font-size: x-small;
}
