#app {
  height: 100vh;
  text-align: center;
}

.layout {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px auto;
}

.todo-section {
  /* background-color: red; */
  margin: 0 1rem;
}
