#app {
  height: 100vh;
  text-align: center;
}

.layout {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: repeat(10, auto);
  padding: 1rem;
  column-gap: 1rem;
}

.todo-section {
  grid-column: 2/3;
  grid-row: 1/11;
}

.header {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem;
}

.boton {
  border: none;
  border-radius: 3px;
  padding: 1ch 2ch;
  cursor: pointer;
}
